{% extends "base.php.twig" %}


{% block content %}

    <div class="page-header">
        <h1 style="text-align: center;">Deine Tracks</h1>
    </div>

    {% for i in lines %}

        <div class="trackerLine">
            <div class="trackerDatum">
                {{ i.getDay() }}
            </div>

            <div class="trackerStrecke">
                {{ i.getStrecke() }}
            </div>

            <div class="trackerZeit">
                {{ i.getZeit() }}
            </div>

            <div class="trackerSpeed">
                {{ i.getSpeed() }}
            </div>

            <div class="trackerRemove">
                remove
            </div>
        </div>
    {% endfor %}



{% endblock %}